bin
HistoricalSearchCount_DK/*
HistoricalSearchCount_GB/*
HistoricalSearchCount_monthly_DK
HistoricalSearchCount_monthly_GB
HistoricalSearchCount_weekly_DK
HistoricalSearchCount_weekly_GB
include
KeywordDemographics_DK/*
KeywordDemographics_GB/*
KeywordLocations_DK/*
KeywordLocations_GB/*
lib
*.pyc
keywords.dk
keywords.gb
refreshtoken
.Python
config.py